<footer class="page-footer font-small pt-4 w-100 footer-front">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">UEFA EURO 2020</h5>
        <p>Découvrez, analysez, partagez sur les plus belles rencontres européennes</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">MENU</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{{path('home')}}">Acceuil</a>
          </li>
          <li>
            <a href="{{path('teams_index')}}">Equipes</a>
          </li>
          <li>
            <a href="{{path('stades_index')}}">Stades</a>
          </li>
          <li>
            <a href="{{path('rankings_index')}}">Classements & Résultats</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">INFOS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Billets</a>
          </li>
          <li>
            <a href="#!">Boutique</a>
          </li>
          <li>
            <a href="#!">Guide de l'événement</a>
          </li>
          <li>
            <a href="#!">UEFA.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 - Site réalisé pour examen dans le cadre des études de WebDeveloper - @EPSE
    <a href="#"> Maxime Gh</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->