{% extends 'base.html.twig' %}

{% block title %}{{team.name}}{% endblock %}

{% block body %}
    <div class="w-100 h-100">
        <div class="col-10 offset-1">
            {{team.name}}
        </div>
    </div>
{% endblock %}