{% extends "admin/base.html.twig" %}

{% block title %}Ajout d'une date{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-3 mb-3">Ajout d'une date</h1>

        {{form_start(form)}}
            {{form_widget(form)}}
            <button type="submit" class="mb-3 btn btn-success">Ajouter la date</button>
        {{form_end(form)}}
    </div>
{% endblock %}