@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin:0px;
    padding:0px;
}

html,body{
    width: 100%;
    height: 100%;
}

.special-font{
    font-family: 'Ubuntu', sans-serif;
}

.logo-team{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: contain;
}

.home-slider img{
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
    background-position: center center;
}

#carouselExampleIndicators{
    height: 100%;
}

.carousel-caption{
    text-shadow: 1px 1px 2px black;
}

.match-card{
    height: 300px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.light-text{
    font-size: 12px;
    color: gray;
}

.scoreboard{
    height: 150px;
    line-height: 150px;
}

.scoreboard img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    object-fit: contain;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.score{
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin: 5px 5px 5px 5px;
}