{% for team in teams %}
        <div class="team col-2 text-center mt-3 mb-3">
            <p class="text-center">
                <img src="{{team.logo}}" alt="" class="logo-team-admin mb-2"><br>
                {{team.name}}
            </p>
        </div>
        {% endfor %}